@using WebIfcFix.Shared;
@inherits DynamicComponentWithModelBase<BrokenLinkIndicatorModel>

<p class="bg-danger">
	It seems like the link you've followed has been broken. You are served the default layout.
</p>

@code {

}
