@using IfcFixLib.FilterStrategy
@using WebIfcFix.Shared;
@inherits DynamicComponentWithModelBase<FilterByClassNameComponentModel>
@inject LayoutManagerService LayoutManager

<p>
	@Model.ComponentInformation.FilterInstructions
</p>
<div class="row">
	<div class="form-floating col">
		<input id="filterInSelect"
					 class="form-control"
					 list="classNameOptions"
					 @bind-value="Model.FilterStrategy.FilterInClassName">
		</input>
		<datalist id="classNameOptions">
            @foreach (var className in ClassNamesGetter.IfcClassNames)
            {
				<option value="@className">@className</option>
			}
		</datalist>
		<label for="filterInSelect">
			Type to search the class for filtering:
		</label>
	</div>
</div>

@code {
}
