/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-t0m9ntieea] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-t0m9ntieea] {
    flex: 1;
}

.sidebar[b-t0m9ntieea] {
    background-color: inherit;
}

.top-row[b-t0m9ntieea] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-t0m9ntieea]  a, .top-row[b-t0m9ntieea]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-t0m9ntieea]  a:hover, .top-row[b-t0m9ntieea]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-t0m9ntieea]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-t0m9ntieea] {
        justify-content: space-between;
    }

    .top-row[b-t0m9ntieea]  a, .top-row[b-t0m9ntieea]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-t0m9ntieea] {
        flex-direction: row;
    }

    .sidebar[b-t0m9ntieea] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-t0m9ntieea] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-t0m9ntieea]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-t0m9ntieea], article[b-t0m9ntieea] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/SortableList.razor.rz.scp.css */
/* 
  you need the ::deep identifier if you are using scoped styles like this
  because scoped styles are only applied to markup in the component, not
  to the markup inside the render fragment.
*/

[b-3r9pwfstcj] .sortable-ghost {
  visibility: hidden;
}

[b-3r9pwfstcj] .sortable-fallback {
  opacity: 1 !important
}
