@page "/components"

<h3>ComponentsList</h3>

@foreach (var model in Components)
{
	<DynamicComponent Type=@model.ComponentType Parameters="@model.Params"/>
}

@code {
	public List<IChildComponentModel> Components { get; set; } =
		[
			new ChildComponent1Model(),
			new ChildComponent2Model(),
			new ChildComponent1Model(),
			new ChildComponent2Model()
		];
}
