@page "/weather"
@inject NavigationManager NavManager

<PageTitle>Query Test</PageTitle>

<h1>Lets checkout how much can you put in the query</h1>

<p>@testInput</p>

<br />
<p>Current length: @testInput.Length</p>

<InputText class="form-control" @bind-Value="OnScreenInput"/>

<button class="btn btn-primary" onclick="@UpdateUri" type="button">Update Uri</button>

@code {
    [SupplyParameterFromQuery(Name = "input")]
    public string? queryInput { get; set; }
    public string OnScreenInput { get; set; } = String.Empty;

    private string testInput => queryInput?? "No input from route with '?input=' yet";


    public void UpdateUri()
    {
        NavManager.NavigateTo(NavManager.GetUriWithQueryParameter("input", OnScreenInput));
    }
}
