@using WebIfcFix.Shared;
@inherits DynamicComponentWithModelBase<ChildComponent2Model>

<p>ChildComponent2</p>
<InputSelect class="form-select" @bind-Value="Model.StringValueType">
	@foreach (ElementStringValueType val in Enum.GetValues(typeof(ElementStringValueType)))
	{
		<option value="@val">@val</option>
	}
</InputSelect>

@code {
}
