@using System.Text
@inject IJSRuntime JS;

<div class="card m-1">
	<div class="row g-0">
		<div class="col-1">
			<ProcessStatusIndicator Status="Status" Message="@Message" />
		</div>
		<div class="col p-1">
			<p>
				Then process will be done - clicking this button will save IFC to downloads.
			</p>
			<button
				@onclick="@SafeIfcFile"
				disabled="@DisableSaveButton"
				class="btn @ButtonClass my-1">
				Save to file
			</button>
		</div>
	</div>
</div>

@code {
	public ProcessStatus Status { get; set; } = ProcessStatus.Waiting;
	public string Message { get; set; } = string.Empty;
	private bool DisableSaveButton => Status != ProcessStatus.Done;
	private string ButtonClass => DisableSaveButton ? "btn-secondary" : "btn-success";

	[Parameter]
	[EditorRequired]
	public DbSerializer? Serializer { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		if (Serializer is null)
		{
			throw new ArgumentNullException(nameof(Serializer));
		}
		Serializer.ProcessStart += SignalProcessing;
		Serializer.ProcessDone += SignalReadyToSave;
	}

	private ValueTask SignalProcessing(CancellationToken ct)
	{
		Status = ProcessStatus.Processing;
		Message = string.Empty;
		StateHasChanged();
		return ValueTask.CompletedTask;
	}

	private ValueTask SignalReadyToSave(CancellationToken ct)
	{
		if (Serializer!.Output is not null)
		{
			Status = ProcessStatus.Done;
		}
		else
		{
			Status = ProcessStatus.Error;
			Message = "Error on deserializing";
		}
		StateHasChanged();
		return ValueTask.CompletedTask;
	}

	private async Task SafeIfcFile()
	{
		try
		{
			Message = string.Empty;
			var encodingISO_8859_1 = Encoding.GetEncoding("ISO-8859-1");
			var byteArray = encodingISO_8859_1.GetBytes(Serializer!.Output!);

			await JS.InvokeVoidAsync(
						"saveAsFile",
						"updated.ifc",
						Convert.ToBase64String(byteArray));
		}
		catch(Exception ex)
		{
			Status = ProcessStatus.Error;
			Message = "Save failed. Error: " + ex.Message;
		}
		finally
		{
			StateHasChanged();
		}
	}
}
