@using IfcFixLib.IfcPipelineDefinition

<div class="h-100 w-100 tooltip-source">
	<ProcessStatusIndicator Status="@Connector.Status" Message="@Connector.StatusDescription" RerenderTrigger="_forceRerender"/>
	@if (Connector.Status == ProcessStatus.Done)
	{
		<span style="width:300%; left:90%; top:1rem" class="alert alert-success tooltip-popover">
			@_outputedObjectsInfo
		</span>
	}
</div>

@code {
	[Parameter]
	[EditorRequired]
	public required IPipeConnector Connector { get; set; }
	private bool _forceRerender;
	private string _outputedObjectsInfo => $"Filter outputed {Connector.Filter.Output!.Elements.Count} objects";

	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		if (firstRender)
		{
			Connector.StateChanged += OnStateChange;
		}
	}
	protected void OnStateChange(object? sender, EventArgs eventArgs)
	{
		_forceRerender = !_forceRerender;
		StateHasChanged();
	}
}
