<div
	class="status-indicator p-1 h-100 w-100 rounded-start no-select tooltip-source d-flex align-items-center @GetClass()">
	<span style="width:@_maxWidth" class="@_messageClass">
		@GetInfo()
	</span>
</div>

@code {
	[Parameter]
	[EditorRequired]
	public ProcessStatus Status { get; set; }

	[Parameter]
	public string? Message { get; set; }

	[Parameter]
	public bool RerenderTrigger { get; set; }

	private string _messageClass => Status != ProcessStatus.Error ? "badge my-auto p-0 text-wrap align-middle tooltip-text" : "alert alert-danger tooltip-popover";
	private string _maxWidth => Status != ProcessStatus.Error ? "100%" : "200%";

	private string GetClass()
	{
		return Status switch
		{
			ProcessStatus.Done       => "bg-success",
			ProcessStatus.Processing => "bg-primary",
			ProcessStatus.Waiting    => "bg-primary-subtle",
			ProcessStatus.Error      => "bg-danger",
			ProcessStatus.Cancelled  => "bg-warning",
			_ => ""
		};
	}

	private string GetInfo()
	{
		if (!string.IsNullOrEmpty(Message))
		{
			return Message;
		}
		return Status switch
		{
			ProcessStatus.Done       => "Process done",
			ProcessStatus.Processing => "Processing",
			ProcessStatus.Waiting    => "Ready to process",
			ProcessStatus.Error      => "Error occured",
			ProcessStatus.Cancelled  => "Process cancelled",
			_ => "Status indicator"
		};
	}
}
